input-card{

    .card-background-relative {
        position: relative; 
        text-align: right;
    }

    .card-background-relative .text-area{
        width: 100%;
        height: 100%;
    }

    .card-background-relative .button{
        width: 10%;
    }

    .file-background {
		position: relative;
		text-align: center;
	}

	.file-background .file-over {
		position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
	}


    .card-background-selected {
		position: relative;
    	text-align: center;
	}

	.card-background-selected:hover{
		box-shadow: 0 0 2em rgba(0,0,0,0.1), inset 0 0 1em rgba(0,0,0,0.1);
		.avatar-selected{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			font-weight: bold;
			color: #fff;
			border-radius: 50%;
			border: 5px solid greenyellow;
		}
	}  
}